*{
    padding: 0;
    margin: 0;
}


.html{
    scroll-behavior:smooth;
}

.body{
    font:bold;
    background-color:#edebf3;
    /* min-height: calc(100vh - 12vh - 60px); */
}


/* navbar css starts here  */
.image{
    background:none;
    background-image: url(./background3.1.jpg);
    background-position: center;
    background-size: cover;
    

}
.logo{
    margin: 0;
    padding: 0;
    border: #1C0A00;
}
.abc{
    height: auto;
   background-color:#cdff1a;
   color: white;
}
.navbar {
   background-color:#c7f32a;
   
}


.bg-light{
   background-color:#cdff1a;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.toggle-color{
    background-color: black!important;
}
.navbar-brand{
    font: bold;
    font-size: 1.7rem;
    color:  #1C0A00!important;
    align-items: center;
    justify-content: center;
}

.nav-link{
    color: #1C0A00!important;
    font-family: 'Noto Sans JP', sans-serif;
}


.nav-link:hover{
    background-color: rgb(46, 171, 221);
    border: 2px solid #444444;
    border-radius: 10px;
}
h1{ 
   font-style: inherit;
   font: bold;
   font-size: large;
   color: #4700D8;
}
/* navbar css ends here  */


/* here content css starts here  */
.hero-content{
    height: 65vh;
    color:rgb(10, 8, 8);
    padding: 3rem;
    margin-bottom: 1vh;
    padding-left: 25rem;
    margin-bottom: 1vh;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bolder; 
    font-size:medium;

}
.row{
    margin-top: 50px;
}



/* @media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
} */
.go-customers{
    border-radius: 1.0rem;
    border: 2px solid grey;
    padding: 1rem 2rem;
    font-size: 100%;
    background-color: #fff;
    color: black!important;
    transition: 0.3s;
}
.go-customers:hover{
    text-decoration: none;
    background-color:dodgerblue;
}

.go-transaction{
    border: 2px solid grey;
    border-radius: 1.0rem;
    padding: 1rem 2rem;
    font-size: 100%;
    background-color: #fff;
    color: black!important;
    transition: 0.3s;
}

.go-transaction:hover{
    text-decoration: none;
    background-color: dodgerblue;
    
}

/* footer css starts here */
footer{

    height: 10v;
    background-color:  #383838;
    margin-bottom: 0%;
  
}

.heading{
    font-family: 'Sansita Swashed', 'cursive';
    font-size: 1.5rem;
}

.social-icons li{
    display:ruby-base-container;
    padding: auto;
    margin: 15px;
}
.whatsapp:hover{
    color: rgb(173, 13, 16);
}
.github:hover{
    color: #c31c24!important;
    
}

.linkedin:hover{
    color: #e30b0b!important;
}

.twitter:hover{
    color: #d31a1e!important;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
   /* p center h4 b {
  margin-left: 60px;
  } */